<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224739380277-8uip608205hmdvqh62hhq7p9mbiavv2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224739380277-8uip608205hmdvqh62hhq7p9mbiavv2u</string>
	<key>API_KEY</key>
	<string>AIzaSyDkqtZQwdQssvOLCt6F6NA3oDFefRIf2ck</string>
	<key>GCM_SENDER_ID</key>
	<string>224739380277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portal</string>
	<key>PROJECT_ID</key>
	<string>devworld-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>devworld-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224739380277:ios:c6fd248ac8aafca031757c</string>
</dict>
</plist>